.list {
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.item {
  width: 30%;

  padding: 5px 20px;
}
.item__link {
  display: block;
  text-decoration: none;
}
.item__title {
  margin: 0;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}
.item__title:focus,
.item__title:hover {
  color: blueviolet;
  background-color: rgb(255, 127, 157);
}
.image {
  width: 400px;
  height: 250px;
}
